.axis path,
.axis line{
    fill:none;
    stroke:#333;
}

.dot1{
    stroke:darkgreen;
    fill:lightgreen;
}
.dot2{
    stroke:orange;
    fill:yellow;
}
.dot3{
    stroke:steelblue;
    fill:lightblue;
}
.grid .tick{
    stroke:lightgrey;
    opacity:0.7;
}
.grid path{
    fill: none;
    stroke:steelblue;
    stroke-width:1.5px;
}
